<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="g_box">
      <table class="table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Sub Total</th>
        </tr>
        </thead>
        <tbody>
          <% @contents.each_pair do |item, data| %>
            <tr>
              <td><%= link_to(item.title, item_path(item))%></td>
              <td><%= item.to_money_string(item.price) %></td>
              <td><%= data[:quantity] %></td>
              <td><%= button_to "+", cart_path(id: item.id, adjust: "increase"), method: :patch %></td>
              <td><%= button_to "-", cart_path(id: item.id, adjust: "decrease"), method: :patch %></td>
              <td><%= button_to "Remove", cart_path(id: item.id), class: "bt btn-danger", method: :delete %></td>
              <td><%= data[:subtotal] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h3>Total: <%= @total %></h3>

      <% if @contents.any? %>
        <% if logged_in? %>
          <br><%= button_to "Complete Order", orders_path, class: "btn btn-success" %>
        <% else %>
          <br><%= button_to "Login to buy dogs!", login_path, class: "btn btn-success", method: :get %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
