<% @contents.each_pair do |item, data| %>
  Name <%= item.title %>
  Price <%= item.price %>
  Quantity <%= data[:quantity] %>
  Subtotal <%= data[:subtotal] %>
  <%= button_to "+", cart_path(id: item.id, adjust: "increase"), method: :patch %>
  <%= button_to "-", cart_path(id: item.id, adjust: "decrease"), method: :patch %>
  <%= button_to "Remove", cart_path(id: item.id), class: "bt btn-danger", method: :delete %>
<% end %>

<h3>Total: <%= @total %></h3>

<% if logged_in? %>
  <br><%= button_to "Buy them dogs!", orders_path, class: "btn btn-success" %>
<% else %>
  <br><%= button_to "Login to buy dogs!", login_path, class: "btn btn-success", method: :get %>
<% end %>
