<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="item_box">
    <%= image_tag(item.image, class: 'default_image') %><br>
    <ul class= "item_options">
      <li><%= link_to(item.title, admin_item_path(item)) %></li>
      <li><%= item.to_money_string(item.price) %></li>
      <li><%= link_to 'Edit', edit_admin_item_path(item) %></li>
      <li><%= link_to 'Delete', admin_item_path(item), method: :delete %></li>
    </ul>
  </div>
</div>