<table class="table">
  <tr>
    <td class="left"><%= f.label :title %></td>
    <td><%= f.text_field :title, placeholder: "hot dog title" %></td>
  </tr><br>
  <tr>
    <td class="left"><%= f.label :description %></td>
    <td><%= f.text_field :description, placeholder: "description" %></td>
  </tr><br>
  <tr>
    <td class="left"><%= f.label :prep_time, "Prep time (minutes)"%></td>
    <td><%= f.text_field :prep_time, placeholder: "12" %></td>
  </tr><br>
  <tr>
    <td class="left"><%= f.label :price, "Price ($)" %></td>
    <td><%= f.number_field :price, value: (number_with_precision(price, precision: 2)), step: 0.01 %>
    </td>
  </tr><br>
</table>

<strong>Categories</strong>
<div class="checkbox-list">
  <%= f.collection_check_boxes(:category_ids, Category.all.order(:name), :id, :name) %>
</div>
