
<h3 class="greeting">Create a New Dog</h3>
<%= form_for(@item, url: admin_item_path) do |f| %>
  <%= f.text_field :title, placeholder: "hot dog title" %><br>
  <%= f.text_field :description, placeholder: "description" %><br>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.submit 'Update' %>

<% end %>
