<h3 class="greeting">Update This Dog</h3>

<%= form_for([:admin, @item], html: {multipart: true}) do |f| %>
  <%= render partial: "fields", locals: { f: f, item: @item, price: @price } %>
  <br><br>
  <p>
  <%= f.label :image, "Change image" %><br />
  <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :discontinue, "Discontinue?" %>
    <%= f.check_box :discontinue, checked: @item.discontinue %> 
  </p>
  <br><%= f.submit "Update", class: "btn btn-success" %>
<% end %>