<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="g_box">
      <h3 class="greeting">Update This Dog</h3>

      <%= form_for([:admin, @item], html: {multipart: true}) do |f| %>
        <%= render partial: "fields", locals: { f: f, item: @item, price: @price } %>
        <br><br>
        <%= f.label :image, "Change image" %>
        <%= f.file_field :image %>
        <p>
          <%= f.label :discontinue, "Discontinue?" %>
          <%= f.check_box :discontinue, checked: @item.discontinue %> 
        </p>
        <br><%= f.submit "Update", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>