<%= render partial: "layouts/master_header" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="g_box">
      <h3>Profile Information</h3>
      <table class="table">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name:</td>
            <td><%= current_user.full_name %></td>
          <tr>
            <td>Display Name:</td>
            <td><% if current_user.display? %>
              <%= current_user.display_name %>
              <% else %>
               <em>no display name</em>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <td>Role:</td>
            <td><%= current_user.type %></td>
          </tr>
        </tbody>
      </table>
      <%= button_to "Update Info", edit_user_path(current_user), method: :get, class: "btn btn-success" %>
    </div>
  </div>
</div>
