<!-- <div class="hero-unit">
</div>
<h1 class="hero-h1">Welcome to<br> Cowboy Kyle's Farmer's Market! <br>
<% if current_user.admin? %>
  <%= link_to "Admin Portal", admin_items_path %>
<% else %>
  <%= link_to "Vendors", vendors_path %> </h1>
<% end %> -->


  <header class="row">
    <div class="col-md-5">
      <%= image_tag("veg.jpg") %>
    </div><!-- col-md-4-->
    <div class="col-md-7">
      <%= image_tag("logo.png", :class => "veg")  %>
    </div><!-- col-md-8-->
  </header><!-- row -->

  <div class="row">
    <div class="col-md-3 rounded-border">
      <h2>Farmers Corner</h2>
      <%= image_tag("featured.png", :class => "featured")  %>
      <%= image_tag("featured.png", :class => "featured")  %>
      <%= image_tag("featured.png", :class => "featured")  %>

    </div><!-- col-md-3-->
    <div class="col-md-6 text-center rounded-border hp-center">
      <h1>Community.</h1>
      <h1>Sustainability.</h1>
      <h1>Health.</h1>
      <br/>
      <p>Blog Blue Bottle brunch Portland keffiyeh. Lo-fi cornhole viral Pitchfork mumblecore lomo. Blog Blue Bottle brunch Portland keffiyeh. Lo-fi cornhole viral Pitchfork mumblecore lomo.</p>
      <p>Banh mi salvia lumbersexual retro DIY tote bag literally, quinoa migas fanny pack PBR four loko raw denim. Meggings Bushwick semiotics mumblecore pickled. Cold-pressed Portland Pitchfork, farm-to-table Austin gentrify normcore disrupt squid before they sold out selvage hoodie.</p>
      <p>Photo booth PBR Brooklyn salvia distillery, gastropub Wes Anderson cornhole jean shorts meditation 3 wolf moon banjo cronut single-origin coffee. Small batch tilde vinyl, letterpress plaid Thundercats butcher brunch keffiyeh twee try-hard forage.</p>
      <br/>
      <div class="col-md-4 hp-img">
        <%= image_tag("garlic.jpg")  %>
      </div>
      <div class="col-md-4 hp-img">
        <%= image_tag("sugar.jpg")  %>
      </div>
      <div class="col-md-4 hp-img">
        <%= image_tag("grains.jpg")  %>
      </div>


    </div><!-- col-md-6-->
    <div class="col-md-3 rounded-border">
      <%= image_tag("pasta.jpg")  %>
      <%= image_tag("order_online.png", :class => "order-online" ) %>
    </div><!-- col-md-3-->
  </div><!-- row -->
