<h1>Welcome to <%= current_vendor.name %></h1>
<% @items.each do |item| %>
  <%= link_to item.title, vendor_item_path(id: item.id) %>
  <%= item.description %>
  <%= form_for(:order, url: :cart_index) do |f| %>
    <%= f.number_field :quantity, value: 1, min: 1, max: 25, maxlength: 2 %>
    <%= f.hidden_field :item_id, value: item.id %>
    <%= f.hidden_field :vendor, value: item.vendor.slug %>
    <%= f.submit "Add to Basket", class: "reg_btn" %>
  <% end %>
<% end %>
