<%= render partial: "layouts/vendor_header" %>
<% @items.each do |item| %>
<div class="row">
  <div class="col-md-3 items">
  <%= image_tag(item.image, class: 'single-image') %>
  <h4><%= link_to item.title, vendor_item_path(id: item.id) %></h4>
  <%= item.description %>
  <%= form_for(:order, url: :cart_index) do |f| %>
    <%= f.number_field :quantity, value: 1, min: 1, max: 25, maxlength: 2 %>
    <%= f.hidden_field :item_id, value: item.id %>
    <%= f.hidden_field :vendor, value: item.vendor.slug %>
    <%= f.submit "Add to Basket", class: "reg_btn" %>
  </div>
  <% end %>
</div>
<% end %>
