<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="g_box">
<h4>Purchaser</h4>
<p>
  <%= user.full_name %><br>
  <%= user.email %>
</p>

<h4>Date</h4>
<p>
  <%= order.date %>

<h4>Time</h4>
<p>
  <%= order.time %>
</p>

<h4>Status</h4>
<p><%= order.status.name %></p>
<p>(updated: <%= order.updated_time %>)</p>

  <h4>Items</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sub Total</th>
        </tr>
        </thead>
        <tbody>
          <% details.each_pair do |item, data| %>
            <tr>
              <td><%= link_to item.title, vendor_item_path(vendor: item.vendor.slug, id: item.id) %></td>
              <td><%= data[:price] %></td>
              <td><%= data[:quantity] %></td>
              <td><%= data[:subtotal] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <h4>Total</h4>
<p>
  <%= order.total %>
</p>
  </div>
  </div>
  </div>
