<div class="user-orders">
  

  <strong><h4>Orders by Status</h4></strong>
  <div class="row">
    <strong><em>
    <div class="col-xs-1"> 
      <p>Ordered: </p>
      <p>Paid: </p>
      <p>Cancelled: </p>
      <p>Complete: </p>
    </div>
    </em></strong>
    <div class="col-xs-2 col-xs-offset-2">
      <p><%= order_counts["ordered"] %></p>
      <p><%= order_counts["paid"] %></p>
      <p><%= order_counts["cancelled"] %></p>
      <p><%= order_counts["completed"] %></p>
    </div>
  </div><br>
  
  <strong><h4>Orders Details (<%= list %>)</h4>
  <div class="row right">
    <div class="col-xs-1">
      <em>filter: </em>
    </div>
    <div class="col-xs-1">
      <%= render partial: "select_form" %>
    </div>
  </div>
 
  <table class="table">
    <thead>
    <tr>
      <th>Order #</th>
      <th>Date</th>
      <th># of Items</th>
      <th>Status</th>
      <% if current_user.administrator? %>
        <th>Change Status?</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <% if current_user.administrator? %>
              <%= link_to "#{order.id}", admin_order_path(order) %>
            <% else %>
              <%= link_to "#{order.id}", order_path(order) %>
            <% end %>
          </td>
          <td><%= order.order_date.to_date %></td>
          <td><%= order.items.count %></td>
          <td><%= order.status.name %></td>
          <% if current_user.administrator? %>
            <td>
            <%= render partial: "admin/orders/form", locals: { order: order } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="container-fluid row">
    <% if orders.any? %>
      <br><em>*click order-id to view order details</em>
    <% else %>
      <br><em>**you do not have any orders placed</em>
    <% end %>
  </div>
</div>