<h4>Purchaser</h4>
<p>
  <%= current_user.full_name %><br>
  <%= current_user.email %>
</p>

<h4>Date</h4>
<p>
  <%= @order.date %>

<h4>Time</h4>
<p>
  <%= @order.time %>
</p>

<h4>Total</h4>
<p>
  <%= @order.total %>
</p>

<h4>Status</h4>
<p>
  <%= @order.status %>
</p>

<h4>Items</h4>
  <% @details.each_pair do |item, data| %>
  <p>
    Name: <%= link_to item.title, item_path(item) %>
    Price: <%= data[:price] %>
    Count: <%= data[:quantity] %>
    Sub total: <%= data[:subtotal] %>
  </p>
  <% end %>