 <%= render partial: "layouts/admin_navigation" %>
<header class="row">
  <div class="col-md-5">
    <%= image_tag("veg.jpg") %>
  </div><!-- col-md-4-->
  <div class="col-md-7 vendor-name">
    <h1>Welcome to <%= current_user.vendor.name %></h1>
  </div><!-- col-md-8-->
</header><!-- row -->
<h1>Business Administrators:</h1> 
<div>

<div class="row"
<div class="col-md-6">

  <ul id="admins_list">
<% @admins.each do |admin| %>
  <li><%= admin.full_name %></li>
  <li><%= admin.email %></li>
  <li><%= link_to "Edit Admin", edit_admin_admin_path(admin) %></li>
<% end %>
  </ul>
</div>
<div class="col-md-6">
   <%= button_to "Create Admin", new_admin_admin_path, method: :get %>
</div>
</div><!--row-->


