<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="item_box">
    <%= image_tag(item.image, class: 'default_image') %><br>
    <ul>
      <li><%= link_to(item.title, item) %></li>
      <li>Price: <%= item.price_formatted %></li>
        <%= form_for(:order, url: :cart_index) do |f| %>
          <%= f.number_field :quantity, value: 1, min: 1, max: 25, maxlength: 2 %>
          <%= f.hidden_field :item_id, value: item.id %>
          <%= f.submit "Add to Cart" %>
        <% end %>
    </ul>
  </div>
</div>

