<div class="container-fluid">
  <% if @login_page == true %>
    <h3 class="greeting">Let's get you logged in!</h3>
    <p><%= link_to "Home", root_path %></p>
  <% else %>
    <div class="row">

      <div class="col-xs-4">
        <h3 class="greeting">Howdy, <%= current_user.name_to_display %>!</h3>
        <p class="user-links">
          <%= link_to "Home", root_path %>
          <% unless current_user.name_to_display == "Guest" %>
            <%= link_to "Profile", user_path(current_user) %>
            <%= link_to "Orders", orders_path %>
          <% end %>
        </p>
      </div>

      <div class="col-xs-2 nav-dropdown", id='admin_options'>
        <% if current_user.admin? %>
          <%= form_for(:option, url: :admin_options) do |f| %>
            <strong><em><%= f.label "Select: " %></em></strong>
            <%= f.select :option_type, { "Admin Options" => "", "Categories" => "categories", "Items" => "items", "Orders" => "orders" }, {}, :onchange => "submit()" %>
          <% end %>
        <% end %>
      </div>

      <div class="col-xs-2 nav-dropdown">
          <%= form_for(:category, url: :items, method: :get) do |f| %>
            <strong><em><%= f.label "Search: " %></em></strong>
            <%= f.collection_select(:category_id, Category.all.order(:name), :id, :name, {:prompt => "Dog Breeds"}, onchange: "submit()") %>
          <% end %>
      </div>

      <div class="col-xs-2">
        <% if logged_in? %>
          <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-primary btn-block"%>
        <% else %>
          <%= button_to "Login", login_path, method: :get, class: "btn btn-primary btn-block" %>
        <% end %>
      </div>

      <div class="col-xs-2">
        <a href="cart#get" class="btn btn-success btn-block">
          <span class="glyphicon glyphicon-shopping-cart" style="color:white"></span><%= "\tBuy Dogs" %>
        </a>
      </div>

    </div>
  <% end %>
</div>
