<!DOCTYPE html>
<html>
<head>
  <title>Cowboy Kyle's</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag "hotdog.ico" %>
</head>
<body>
  <div class="nav">
  <% if current_user.admin? %>
    <%= render partial: "layouts/admin_navigation" %>
  <% else %>
    <%= render partial: "layouts/navigation" %>
  <% end %>
  </div>

  <!-- <div class="container-fluid">
    <h2 class="greeting logo">Cowboy Kyle's <br>Hotdog Ranch</h2>
  </div> -->

  <div class="container-fluid">
    <div class="flash">
      <% flash.each do |type, message| %>
        <%= content_tag :div, message, id: "flash_#{type}" %>
      <% end %>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
