<!DOCTYPE html>
<html>
<head>
  <title>Cowboy Kyle's Farmers Market</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag "apple.ico" %>
</head>
<body>
<div id="wrap">


  <div class="container-fluid">
    <div class="flash">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <% flash.each do |type, message| %>
          <%= content_tag :div, message, id: "flash_#{type}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="inner-container">

    <div class="nav">
    <% if current_user.administrator? %>
      <%= render partial: "layouts/admin_navigation" %>
    <% else %>
      <%= render partial: "layouts/navigation" %>
    <% end %>
    </div>

  <div class="profile-sidebar">
    <% if current_user.administrator? %>
      <%= render partial: "layouts/profile_sidebar" %>
    <% end %>
  </div>
    <%= yield %>

    <footer id="footer">
          <p class="footer_text"><em>We at Cowboy Kyle's Farmers Market only offer the freshest free range ingredients and encourage all to get down and do some Square Dancin'. YEEHAW!</em></p>
    </footer>
  </div>


</div>



</body>
</html>
